.animepost .animposx .data_tw {
    margin-bottom: 15px;
}

.animepost .animposx .content-thumb .score {
    position: absolute;
    right: 5px;
    z-index: 1;
    padding: 5px;
    font-size: 12px;
    font-weight: 500;
    bottom: 5px;
    background: rgba(0, 0, 0, .8);
    color: rgba(255, 255, 255, .9);
    border-radius: 3px;
}

.animepost .animposx .content-thumb .score i {
    color: #ffd600;
}

.animepost .animposx .content-thumb .ply .data .plyepisode {
    color: #fff;
    border: 1px solid #f1f1f1;
    display: -webkit-inline-box;
    padding: 4px;
    border-radius: 4px;
    margin-top: 7px;
}

.animepost .animposx .content-thumb .ply .data .plytitle {
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px;
    max-height: 32px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    padding-left: 10px;
    padding-right: 10px;
}

.animepost .animposx .simplefavorite-button.active.preset {
    border-radius: 0!important;
    width: 54%!important;
    color: #fff!important;
    font-size: 11px!important;
    font-weight: bold!important;
}

.animepost .animposx .data_tw .ltseps {
    border: 1px solid;
    padding: 6px;
    display: block;
    text-align: center;
    background: #f1f1f1;
    border-color: #f1f1f1;
    color: #888;
}

.animepost .animposx .data_tw .ltseps i {
    font-size: 12px;
    margin-right: 5px;
}

.widgetseries.poplr .animepost .animposx:hover .content-thumb .ply i {
    display: none;
}

.widgetseries.poplr .animepost .animposx:hover .content-thumb .ctra {
    display: none;
}

.animepost {
    float: left;
    width: 20%;
    position: relative;
}

.widgetseries.poplr .animepost {
    width: 32%;
}

.widgetseries.poplr .animepost .animposx .data {
    height: 50px;
    position: relative;
    padding-left: 25px;
}

.widgetseries.poplr .animepost:nth-child(3n+1) {
    margin-right: 1px;
}

.widgetseries.poplr .animepost:nth-child(3n-1) {
    margin-left: 8px;
}

.widgetseries.poplr .animepost .animposx .title {
    overflow: hidden;
}

.relat .animepost:hover>.stooltip {
    display: block
}

.relat .animepost .stooltip {
    background: #fff;
    box-shadow: 0 10px 5px -7px rgba(0, 0, 0, .09);
}

.relat .animepost .stooltip {
    display: none;
    position: absolute;
    top: 7px;
    width: 312px;
    height: 209px;
    border: 1px solid #eceff5;
    z-index: 3;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    transition: 0.2s;
}

.relat .animpost.active .stooltip.left {
    right: -319px;
}

.relat .animpost.active .stooltip.right {
    left: -319px;
}

.recanim .animepost {
    width: 100%;
}

.slidfer .animepost {
    width: 100%;
}

.post-show .animepost {
    width: 25%;
}

.animepost .animposx {
    position: relative;
    overflow: hidden;
    margin: 10px;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
}

.animepost .animposx .content-thumb {
    padding: 140% 0 0;
    position: relative;
    overflow: hidden;
    background: #f1f1f1;
}

.post-show .animepost .animposx .content-thumb {
    padding: 77% 0 0;
}

.animepost .animposx .content-thumb .t {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.animepost .animposx .content-thumb .b {
    position: absolute;
    bottom: -30px;
    color: #fff;
    z-index: 1;
    padding: 8px 0;
    width: 100%;
    text-align: center;
    background: rgba(34, 58, 101, .9);
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
}

.animepost .animposx .content-thumb img {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
}

.post-show .animepost .animposx .content-thumb img {
    height: auto;
}

.animepost .animposx .content-thumb .t .type {
    margin-top: 5px;
    margin-left: 5px;
    font-size: 11px;
    padding: 1px 5px;
    border-radius: 1px;
    float: left;
    color: #eee;
    background: #673ab7;
}

.animepost .animposx .content-thumb .t .ept {
    margin-top: 5px;
    margin-right: 5px;
    font-size: 11px;
    padding: 1px 5px;
    border-radius: 1px;
    float: right;
    color: #222;
    background: rgba(255, 255, 255, .9);
}

.animepost .animposx .content-thumb .b .bt {
    margin: 0 5px;
    font-family: Open Sans, sans-serif;
    font-size: 13px;
}

.animepost .animposx .content-thumb .b .bt .tx {
    overflow: hidden;
    height: 36px;
    font-size: 12px;
}

.animepost .animposx .content-thumb .b .bt .status {
    margin-top: 5px;
    overflow: hidden;
}

.animepost .animposx .content-thumb .b .bt .status span {
    display: inline-block;
    color: #fff;
    background: #0eafc1;
    padding: 2px 6px 2px 8px;
    border-radius: 2px;
    font-size: 12px;
}

.animepost .animposx:hover .content-thumb .b {
    bottom: 0;
}

.animepost .animposx .content-thumb .b .bt .tx b {
    font-weight: 400;
}

.animepost .animposx .content-thumb .bt {
    position: absolute;
    bottom: 0;
    z-index: 2;
    width: 100%;
    background: rgba(34, 58, 101, .9);
    color: #fff;
    font-size: 11px;
    line-height: 20px;
    overflow: hidden;
}

.animepost .animposx .content-thumb .bt span.epx {
    display: block;
    float: left;
    margin-left: 10px;
}

.animepost .animposx .content-thumb .bt span.sb {
    display: block;
    float: right;
    padding: 0 5px;
    font-size: 11px;
    color: #111;
    text-transform: uppercase;
    background: #d9da17;
}

.animepost .animposx .content-thumb .bt span.sb.RAW {
    background: rgba(14, 175, 193, .8);
    color: #fff;
}

.animepost .animposx .title {
    font-size: 14px;
    overflow: hidden;
    bottom: 0px;
    line-height: 21px;
    width: 100%;
    color: #222d34;
    padding-top: 8px;
    font-weight: 500;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.slidfer .animepost .animposx .title {
    white-space: nowrap;
    display: block;
}

.animepost .animposx .data .type {
    margin-top: 6px;
    color: #757a7d;
}

.animepost .animposx .data .plyepisode {
    font-size: 13px;
    margin-top: 9px;
    color: #444;
    float: left;
}

.animepost .animposx .data .plyepisode i {
    font-size: 12px;
    margin-right: 4px;
}

.animepost .animposx .content-thumb .ply {
    position: absolute;
    width: 100%;
    z-index: 1;
    height: 100%;
    top: 0;
    background: rgba(0, 0, 0, 0.67);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.1s linear;
}

.animepost .animposx .content-thumb .ply i {
    color: #fff;
    font-size: 32px;
    top: 44%;
    position: absolute;
    left: 44%;
}

.animepost .animposx .content-thumb .ply .dashicons {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    width: 51px;
    height: 49px;
    font-size: 36px;
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    text-align: center;
    margin-top: -24px;
    margin-left: -26px;
    speak: none;
    font-style: normal;
    font-weight: 400;
    border: 4px solid #fff;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
    line-height: 41px;
    transition: all .3s ease 0;
    -webkit-transition: all .3s ease 0;
    -moz-transition: all .3s ease 0;
}

.animepost .animposx .content-thumb .ply .dashicons:before {
    left: 6px;
    position: absolute;
    top: 1px;
}

.animepost .animposx .content-thumb .status {
    position: absolute;
    top: 13px;
    left: -22px;
    line-height: normal;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    z-index: 1;
    padding: 2px 18px;
    font-size: 9px;
    background: #de3b3b;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .5);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.animepost .animposx .content-thumb .hot {
    position: absolute;
    top: 3px;
    right: 3px;
    background: #f44336;
    font-size: 13px;
    font-weight: 700;
    padding: 0 5px;
    padding-top: 3px;
    border-radius: 3px;
    line-height: 17px;
    color: #fff;
    z-index: 1;
}

.animepost .animposx:hover .content-thumb .ply {
    visibility: visible;
    opacity: 1;
}

.animepost .animposx:hover .content-thumb .ply:before {
    opacity: 15;
}

.animepost .animposx .data {
    font-size: 13px;
    color: #666;
    height: 78px;
}

.slidfer .animepost .animposx .data {
    height: auto;
}

.post-show .animepost .animposx .data {
    padding-left: 10px;
    padding-right: 10px;
    border-left: 2px solid;
    border-right: 2px solid;
    border-color: #f1f1f1;
    height: 67px;
}

.animepost .animposx .data h2 {
    font-size: 14px;
    font-weight: 500;
}

.animepost .animposx .bottitle i {
    color: #ffd600;
}

.animepost .animposx .bottitle {
    margin-top: 5px;
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 8px;
    padding-bottom: 7px;
}

.animepost .animposx:hover .content-thumb .type {
    display: none
}

.animepost .animposx:hover .content-thumb .score {
    display: none;
}

.animepost .animposx:hover span.episodes {
    display: none
}

.animepost .animposx .content-thumb .ply .data {
    margin-top: 55%;
    text-align: center;
}

.animepost .animposx .data .mal_rating {
    overflow: hidden;
    font-size: 12px;
    margin-top: 5px;
    margin-left: 28%;
}

.animepost .animposx .data .mal_rating .rtg {}

.animepost .animposx .data .mal_rating .rtg a {
    font-size: 14px!important;
}

.animepost .animposx .data .mal_rating i {
    float: right;
    color: #555;
    font-size: 11px;
    margin-right: 2px;
}

.animepost .animposx .content-thumb .ply .mal_rating i {
    display: none;
}

.animepost .animposx .data .mal_rating .rtg a:after {
    color: #d2d2d2;
}

.animepost .animposx .data .mal_rating .rtg a.br-selected:after {
    color: #edb867;
}

.animepost .animposx .content-thumb .type {
    position: absolute;
    left: 5px;
    z-index: 1;
    padding: 5px;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    background: #29b6f6;
    bottom: 5px;
    text-transform: uppercase;
    border-radius: 2px;
}

@media only screen and (max-width: 920px) {
    .animepost:last-child {
        display: block;
    }
    .post-show .animepost {
        width: 50%;
    }
}

@media only screen and ( max-width: 731px) {
    .post-show .animepost {
        width: 20%;
    }
    .widget-post .animepost:last-child {
        display: block;
    }
}

@media only screen and ( max-width: 655px) {}

@media only screen and ( max-width: 850px) {}

@media only screen and ( max-width: 645px) {
    .widget-post .animepost:last-child {
        display: block;
    }
    .post-show .animepost {
        width: 20%;
    }
}

@media only screen and ( max-width: 768px) {
    .animepost {
        width: 20%
    }
    .post-show .animepost {
        width: 25%;
    }
}

@media only screen and ( max-width: 414px) {
    .animepost {
        width: 50%
    }
    .post-show .animepost {
        width: 50%;
    }
    .relat .relatedanime .animepost {
        width: 50%;
    }
}

@media only screen and ( max-width: 411px) {
    .animepost {
        width: 50%
    }
    .relat .relatedanime .animepost {
        width: 50%;
    }
}

@media only screen and ( max-width: 400px) {
    .animepost {
        width: 50%
    }
    .post-show .animepost {
        width: 50%
    }
    .relat .relatedanime .animepost {
        width: 50%;
    }
}

@media only screen and ( max-width: 375px) {
    .post-show .animepost {
        width: 50%;
    }
}

@media only screen and ( max-width: 360px) {
    .post-show .animepost {
        width: 50%;
    }
}